<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Asher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/docs.css" rel="stylesheet">
    <link href="static/js/google-code-prettify/prettify.css" rel="stylesheet">
      


    
    <style>
      .jumbotron {
background: #020031;
background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
background: linear-gradient(45deg, #0F41C4 0%,#222222 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
}
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/ico/favicon.png">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146052-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48083137-1', 'getvalidity.com');
  ga('send', 'pageview');
  </script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Asher Rosenblatt</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <!--
              <li class="">
                <a href="/basic_code/static/templates/extra.html">EXTRA</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">Questions</a>
              </li>
              <li class="">
                <a href="./base-css.html">Get Answers</a>
              </li>
              
              <li class="">
                <a href= "templates/components.html">About Us</a>
              </li>
              <li class="">
                <a href="./javascript.html">Support </a>
              </li>
              -->
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="jumbotron masthead">
  <div class="container">
    <h1><font color="white">Asher Rosenblatt</h1></font>
    <br>
    <p>iOS Developer <br> Future full-stack web developer. <br> Feel free to contact me</p>
    <p>
      <br>
      <a href="http://google.com/" class="btn btn-warning btn-large">Linkedin</a>
      </>
      <a href="https://twitter.com/allthehabits" class="btn btn-info btn-large">Twitter</a>
     <a href="http://github.com/asherrosenblatt" class="btn btn-default btn-large"><font color="black">Github</></a></font>
     <a href="mailto:asher.rosenblatt@me.com" Email class="btn btn-success btn-large"><font color="white">Email</></a></font>
    </p>
    <ul class="masthead-links">
      <li>
        <a href=#form>Drop me a line</a>
      </li>
      <li>
        
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li class="follow-btn">
        <a href="https://twitter.com/allthehabits" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @allthehabits</a>
      </li>
      <!--
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.asherrosenblatt.com" data-count="horizontal" data-via="allthehabits" data-related="Check out Asher Rosenblatt's development work">Tweet</a>
      </li>
      -->
    </ul>
  </div>
</div>
      </br>
<div class="container">
{% if messages %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    {% for message in messages %}
    <p{% if message.tags == "success" %} class="alert alert-success" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>

{% endif %}

{% block content %}

{% endblock %}

</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
    
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script src="static/js/bootstrap-affix.js"></script>

    <script src="static/js/holder/holder.js"></script>
    <script src="static/js/google-code-prettify/prettify.js"></script>

    <script src="static/js/application.js"></script>


    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

  </body>
</html>
