
{% extends 'base.html' %}

{% block content %}
<div class= 'span7 pull-left'>
    <br/>
    <br/>
    <h1>Get crowsourced answers</h1>
    <p>
        Submit an answer to a question on the questions page and the question you ask will be posted. The more questions you answer, the more questions you can ask.
        You can also take gamified quizes online in whatever subjects you have the most trouble to help you study and you'll get more points to ask questions.
    </p>
</div>
<div class='span4 pull-right'>
<a name='form'></a><br/>
<h1>Sign up to start asking</h1>
                <form action='.' method='POST'> {% csrf_token %}
            {{form}}
            <br/>
            <input type='submit' class="btn btn-large btn-info" value='Join'>
            </form>

</div>
{% endblock %}