
{% extends 'base.html' %}

{% block content %}
<div class= 'span7 pull-left'>
    <br/>
    <br/>
    <h1>Fast application developement for a mobile world.</h1>
    <br>
    <p>
        <b>
            Asher Rosenblatt is up to date 
        <b/>
    </p>
    <br>
    <br>
    <img src="http://upload.wikimedia.org/wikipedia/commons/f/fa/IPhone_5.png" alt="" width="120" height="120"></img>
        <font size="10"><b></b></a>

        <font size="7" color="black"><b>iPhone Apps</b><font/>
</div>
<div class='span4 pull-right'>
<a name='form'></a>
<br/>
<h1><font color=black>Get in contact for app development info</font></h1>
                <form action='.' method='POST'> {% csrf_token %}
            {{form}}
            <br/>
            <input type='submit' class="btn btn-warning btn-large" value='Submit'>
            </form>
</div>
{% endblock %}

